<% title @banner.title.to_s %>

<div id="content" class="row">
  <div class="col-md-4">
    <h2>Promociones anteriores</h2>

    <div id="sidebar" class="list-group">
    <% banners_list.each do |p| %>
      <%= link_to p.title, banner_path(p.id), :class => "list-group-item #{active_link_to_class(banner_path(p.id), :active => :inclusive)}" %>
    <% end %>
    </div>
  </div>

  <div class="spicycontent col-md-8">
  <%= content_tag(:h3, @banner.title) %>

  <%= content_tag(:div, @banner.description.html_safe) %>

  </div>

  <%= image_tag("feedbacks.png", :class => "spicysep col-md-12") %>
</div>