<div id="content" class="row">
  <div class="col-md-4">
    <h2>Contactos</h2>
  </div>

  <div class="spicycontent col-md-8">


  <%= image_tag("feedbacks.png", :class => "spicysep col-md-12") %>
</div>

<div id="imagenav" class="row">
  <div class="col-md-4">
    <%= image_tag("aboutus-1.jpg", :class => "img-thumbnail", :width => 300) %>
  </div>

  <div class="col-md-4">
    <%= image_tag("aboutus-2.jpg", :class => "img-thumbnail", :width => 300) %>
  </div>

   <div class="col-md-4">
    <%= image_tag("aboutus-3.jpg", :class => "img-thumbnail", :width => 300) %>
  </div> 
</div>