<div id="content" class="row">
  <div class="col-md-5">
    <h1>Quienes somos</h1>
  </div>

  <div class="col-md-7">
    <p>La empresa comienza su actividad en el año 1995 en Siberia Russia elaborando carpintería de madera y continuamos con la fabricación de aberturas de PVC, ante las exigencias del mundo moderno donde este material se posiciona cada vez mas alto.</p>

    <p>Alumart crea envolventes sostenibles para los edificios centradas en la gente y en sus necesidades en armonía con la naturaleza y tecnología. Cumple las más estrictas demandas de diseño, confort y seguridad sin renunciar a reducir las emisiones de CO2 con eficiencia energética y, por tanto, conservando los recursos naturales.</p>

    <p>Esta compañía con sus Divisiones de Aluminio y PVC ofrece productos a medida tanto para rehabilitación como nueva edificación, diseñados para abastecer las necesidades específicas de cada usuario en cualquier zona climática.</p>
  </div>
</div>

<div id="imagenav" class="row">
  <%= image_tag("feedbacks.png", :class => "col-md-12") %>

  <div class="col-md-3">
    <%= image_tag("aboutus-1.jpg", :width => 320) %>
  </div>

  <div class="col-md-3">
    <%= image_tag("aboutus-2.jpg", :width => 320) %>
  </div>

   <div class="col-md-3">
    <%= image_tag("aboutus-3.jpg", :width => 320) %>
  </div> 
</div>