<% title "Nuestros trabajos" %>

<div id="content" class="row">
  <div class="spicycontent col-md-12">
  <h2>Nuestros Trabajos</h2>


    <div class="row">
    <% @uploads.each do |upload| %>
      <div class="col-xs-6 col-md-3">
      <%= link_to image_tag(upload.uploaded_file(:small), :height => "200", :width => "200"), upload.uploaded_file(:small), :class => "thumbnail" %>
      </div>
    <% end %>
    </div> 

  </div>

  <%= image_tag("feedbacks.png", :class => "spicysep col-md-12") %>
</div>

<script type="text/javascript">
  $(document).ready(function(){

    $('.thumbnail').modal('toggle')
  })
</script>