// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"

$body-bg: #f9f9f9;
$text-color: #5d5d5d;
$link-color: #009846;
$link-hover-color: #009994;
// $link-hover-color: darken($link-color, 15%);

$nav-link-padding: 5px 8px;
$nav-link-hover-bg: none;

$nav-pills-border-radius: 3px;
$nav-pills-active-link-hover-bg: #009846;
//$nav-pills-active-link-hover-color

@import "bootstrap-sprockets";
@import "bootstrap";

body { font-family: 'Roboto Condensed', sans-serif; }
.container { width: 970px; margin: 0 auto; }
ul#menubar { text-align: right; float: right; }
ul#menubar { padding-top: 25px; }

// positioning
#header, #banners, #feedbacks, #products, #other, #footer { margin-top: 20px; }

#banners {
  border-top: 1px #EDEDED solid;
  border-bottom: 1px #EDEDED solid;
  padding: 0;
  text-align: center;
}

#feedbacks h3 {
  font-family: 'Old Standard TT', serif;
  font-weight: 200;
  padding: 0 50px; 
  text-align: center;
}

#feedbacks img { margin-top: 20px; }

#products h2 { 
  font-size: 1.3em;
  font-style: italic;
  text-align: center;
}

#products a img { margin-top: 10px; }
.gobutton { text-align: center; }
.centered { text-align: center; }

#footer {
  background-color: #171717;
  color: #5d5d5d;
}

.spicysep { margin: 40px 0; }
#imagenav { padding-bottom: 40px; }

.spicycontent { padding: 30px 0 0 0; }

