<div id="content" class="row">
  <div class="col-md-4">
    <h2>Administrador de imagenes</h2>
  </div>

  <div class="spicycontent col-md-8">
  <h2>Agregar imagenes</h2>

  <%= render 'form' %>

  <p><%= link_to 'Back', uploads_path %></p>

  <%= image_tag("feedbacks.png", :class => "spicysep col-md-12") %>
  </div>
</div