<div id="content" class="row">
  <div class="col-md-4">
    <h4>Administrador de imagenes</h4>
  </div>

  <div class="spicycontent col-md-8">

  <%= render 'form' %>

  <p><%= link_to 'Listado de imagenes', uploads_path %></p>
  </div>

  <%= image_tag("feedbacks.png", :class => "spicysep col-md-12") %>
</div